---
layout: page
---
<style>

img.rcornersimage {
  border-radius: 55px;
  vertical-align: top;
  object-fit: cover;
  transition: transform 0.3s ease;
}

img.rcornersimage:hover {
  transform: scale(1.05);
}
</style>

<div class="post">
  <article>
    <!-- Section for Current Members -->
    <section class="members-section">
      <h2>Current Members</h2>
      {% if page.current_members %}
        <div class="profiles current-members">
          {% for profile in page.current_members %}
            <hr>
            <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded rcornersimage' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

            <div class="clearfix">
              {% if profile.content %}
                {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                {{ profile_content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>

<br>
<br>

    <!-- Section for Previous Members -->
    <section class="members-section">
      <h2>Previous Members</h2>
      {% if page.previous_members %}
        <div class="profiles previous-members">
          {% for profile in page.previous_members %}
            <hr>
            <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded rcornersimage' %}
            {% endif %}
            {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

            <div class="clearfix">
              {% if profile.content %}
                {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                {{ profile_content | markdownify }}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  </article>
</div>
